* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(30, 38%, 92%);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.left-image {
    background: url(../images/image-product-desktop.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    /* Con esta medida va a tener más ancho pero sera del mismo color que el content */
    height: 400px;
    width: 300px;
    background-color: #fff;
    /* Para realizar esquinas bordeadas */
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.content {
    height: 400px;
    width: 250px;
    background-color: #fff;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 20px;
}

.sub-title {
    font-family: "Montserrant"; sans-serif;
    color: hsl(228, 12%, 48%);
    font-size: 12px;
    /* Grueso de la letra */
    font-weight: 500;
    /* espacio entre letra */
    letter-spacing: 4px;

}

.title {
    color: hsl(212; 21%, 14%);
    font-family: "Fraunces", sans-serif;
    margin-top: 15px
}

.text-content {
    font-family: "Montserrant";sans-serif;
    color: hsl(228, 12%, 48%);
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 13px;
    font-weight: 500;
}

/* Poner al lado los precios */
.content-price {
    display: flex;
    align-items: center;
}

.offert-price {
    color: hsl(158, 36%, 37%);
    font-family: "Fraunces"; sans-serif;
    font-weight: 700;
}

.real-price {
    font-family: "Montserrant"; sans-serif;
    margin-left: 10px;
    font-size: 13px;
    /* Tachar texto */
    text-decoration: line-through;
}

button {
    margin-top: 20px;
    width: 100%;
    border: none;
    padding: 10px;
    color: #fff;
    background-color: hsl(158, 36%, 37%);
    /* Bordes redondeados */
    border-radius: 8px;
    font-family: "Montserrant"; sans-serif;
    /* Alinear */
    display: flex;
    /* Horizontal */
    justify-content: center;
    /* Vertical */
    align-items: center;
    /* gap:espacio entre elementos (en este caso dentro del button) */
    gap: 15px;
}
